*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border: solid 10px black;
}
nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
nav ul li {
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
.container {
    text-align: center;
}

.container img {
    border-radius: 20px 20px 20px 20px;
    height: 375px;
    width: 250px;
    margin-top: 10px;
}

#about-me {
    justify-content: center;
    text-align: center;
    
}

#contact-me {
    border: solid 20px red;
    margin-top: 10px;
}
p {
    border: solid black;
}

#work {
    margin-top: 20px;
}

#resume {
    margin-top: 50px;
}